 .u-section-1 {
  background: #1a1a1a;
  min-height: 1000px;
}

.u-section-1 .u-shape-1 {
  height: 536px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  width: 958px;
  height: 552px;
  margin: -268px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-1 {
  width: 566px;
  height: 566px;
  background-image: url("https://i.pinimg.com/564x/e4/75/4e/e4754ed9c1373f9269ce487d3bedbf86.jpg");
  background-position: 50% 50%;
  margin: -750px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 475px;
  min-height: 552px;
  height: auto;
  margin: -368px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 50px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 15px 61px 17px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    width: 668px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 538px;
    height: 538px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 416px;
    min-height: 572px;
    margin-top: -340px;
    margin-bottom: 50px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1144px;
  }

  .u-section-1 .u-shape-1 {
    height: 728px;
  }

  .u-section-1 .u-shape-2 {
    width: 521px;
    height: 413px;
    margin-top: -321px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 487px;
    height: 487px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -55px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-shape-1 {
    height: 610px;
  }

  .u-section-1 .u-shape-2 {
    width: 467px;
    height: 542px;
    margin-top: -332px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 416px;
    height: 416px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -16px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 986px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 656px;
    margin-top: -340px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 307px;
    height: 307px;
    margin-top: -856px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 506px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}